
/* Style sheet file for test.html */



/* Task button - CSS for buttons at top of page. */
.taskButton{
    background-color: #4CAF50;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    margin: 0 2% 0 2%;
    padding: 16px;
    position:relative;
    top: 3px;
    transition: 1.5s ease;
    width: 15vw;
}

/* Dropdown button on hover & focus */
.taskButton:hover /*, #newCriteria:focus*/ {
    background-color: #5e8eff;
}

.head_div {
    display: flex;
    justify-content: center;
    margin: 30px auto 30px auto;
}

/* Shared styles */
.accordion, .panel {

    border-radius: 5px;
    /* Box shadows */
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
    margin: auto auto 8px auto;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {

    background-color: #eee;
    border: none;
    color: #444;
    cursor: pointer;
    /* Center the button on the page */
    display: table;
    /* Box shadows */
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    padding: 10 2%;
    position: relative;
    transition: 0.4s;
    width: 90%;
    z-index:0;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.accordion {
    display:flex;
    font-size: 25px;
    font-variant: small-caps;
    position:relative;
    text-align: center;
    width: 20%;
}


/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 2%;
    background-color: #f4fcff;
    max-height: 0;
    width: 86%;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* Center the button on the page */
    margin: 0 auto 40px;
/*
    background: linear-gradient(to right, white ,#f4fcff 5%, #f4fcff 95%, white); *//* Standard syntax (must be last) */
    
}

#minPhotos{
    border-radius: 20px;
    border: 20px;
    font-family: 'Goudy Old Style';
    height:30px;
    position:absolute;
    text-align: center;
    width: 12%;
}

#delayForm{
    font-family: 'Goudy Old Style';
    text-align: center;
}

/* Checkbox list formatting */
form li {
    list-style: none;
    margin-bottom: 20px;
}

form ul {
    margin-bottom: 20px;
    padding-left: 0px;
}

/* Divs underneath the accordion */
.sub-entry {
    display:inline-block;
    float: left;
    /* Checkbox values */
    font-size: 20px;
    font-variant: small-caps;
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

#optionRelaunch{
    background-color: #eee;
    border-radius: 15px;
    color: green;
    font-size: 16px;
    font-size: 20px;
    font-variant: small-caps;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px;
    width: 300px;
}

.digitalClock {
    color:#4CAF50;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size:40px;
    text-shadow: 2px 2px 15px black;
}

#clockDiv{
    text-align: center;
    margin: 0 auto 20px;
}

#newShowButton{
    background: -moz-radial-gradient(#dffffa, #f0f0f0); /* For Firefox 3.6 to 15 */
    background: -o-radial-gradient(#dffffa, #f0f0f0); /* For Opera 11.6 to 12.0 */
    background: -webkit-radial-gradient(#dffffa, #f0f0f0); /* Safari 5.1 to 6.0 */
    background: radial-gradient(#dffffa, #f0f0f0); /* Standard syntax */
    border: none !important;
    cursor: pointer;
    font-size: 25px;
    font-variant: small-caps;
    height: 45px;
}

#newShowButton.active{
  background: -moz-radial-gradient(#dffffa, #ddd); /* For Firefox 3.6 to 15 */
  background: -o-radial-gradient(#dffffa, #ddd); /* For Opera 11.6 to 12.0 */
  background: -webkit-radial-gradient(#dffffa, #ddd); /* Safari 5.1 to 6.0 */
  background: radial-gradient(#dffffa, #ddd); /* Standard syntax */
}
