.fieldParent{
		position:relative;
	    min-height: 70px;
	    width: 100%;
	    /*border: 4px solid black;*/
		padding-top: 10px;
		padding-bottom: 10px;
		border: none;/*solid blue 2px;*/
		--webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden
	    z-index: 1;
	}

.timeInputBox{
    background-color: #FFFCE0;
    position: relative;

    border: 50px;
    cursor: pointer;

    font-size: 16px;
    text-align: center;

    /*left: 20px;*/
    flex: 1;
    height: 50px;
    border-radius: 15px;

    margin-left: 15px;
    margin-right: 15px;

    position:relative;
    z-index: 1;
    /*float:left;*/

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

	display: inline-block;
    width: 10%;

    font-style: oblique;
    font-size: 20px;
}

.fieldChild, .fieldChildColorless, .calendarBox, .calSelect, .criteriaType, .binaryField, .dropdownOptions, .andOrSwitch {
    border: 20px;
    cursor: pointer;

    font-size: 16px;
    text-align: center;

    flex: 1;
    height: 50px;
    border-radius: 1%;

    margin-left: 1%;
    margin-right: 1%;

    transition: 1.5s ease;
    position:relative;
    z-index: 1;
    /*float:left;*/

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

	display: inline-block;
    background-color: #FFFCE0;
}


/* The four fields for a non-date criteria line*/
.criteriaType{
 	width: 15%;
}

.binaryField{
	width: 15%;
    text-align: center;
}

.dropdownOptions{
	width: 40%;
}

.fieldChild{
    width: 8%;
}

.fieldChild:hover {
    background-color: #eeefba;
}

.labelText{
	width: 9%;
	font-style: oblique;
    text-align: center;
}

.calendarBox{

    /*left: 40px;
    right: 40px;*/
    text-align: center;
    width: 15%;

    font-style: oblique;
    font-size: 20px;
}

.calSelect{
	box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
	width: 7%;
    background-color: #FFFCE0;

}
/* CSS for slider from https://www.w3schools.com/howto/howto_css_switch.asp with slight modifications. */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4%;
  top: 10px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*
 border: 20px;
    cursor: pointer;

    font-size: 16px;
    text-align: center;

    flex: 1;
    height: 50px;
    border-radius: 1%;

    margin-left: 1%;
    margin-right: 1%;

    transition: 1.5s ease;
    position:relative;
    z-index: 1;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    display: inline-block;
    background-color: #FFFCE0;*/

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 40%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End of switch styling */

.andOrSwitch{
  position: relative;
  display: inline-block;
  width: 6%;
  background-color: #FFFCE0;
/*  height: 34px;
  left: 4px;
  bottom: 4px;*/
}

.andOrSwitch.active{
  background-color: #b2f3f4;
}

.andOrSwitch.disabled{
  background-color: #f0f0f0;
}